{% extends 'admin/layout_commonUsers.html' %}

{% block body %}
<div class="d-flex align-items-start">
  <!-- Navigation Pills -->
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {% for letter, doc_list in docs.items() %}
      <button class="nav-link {% if loop.first %}active{% endif %}" id="v-pills-{{ letter }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ letter }}" type="button" role="tab" aria-controls="v-pills-{{ letter }}" aria-selected="{{ 'true' if loop.first else 'false' }}">{{ letter }}</button>
    {% endfor %}
  </div>

  <!-- Tab Content -->
  <div class="tab-content" id="v-pills-tabContent">
    {% for letter, doc_list in docs.items() %}
      <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="v-pills-{{ letter }}" role="tabpanel" aria-labelledby="v-pills-{{ letter }}-tab">
        <h3>Documentos con la letra {{ letter }} para leer</h3> <!-- text -->
        <ul>
          {% for doc in doc_list %}
            <li>{{ doc }}</li>
          {% endfor %}
        </ul>
        <!-- upload of the documents -->
        <form action="{{ url_for('worker_layout_admin') }}" method="post" enctype="multipart/form-data">
          <input type="file" name="file" required>
          <button type="submit" class="btn btn-primary mt-2">Subir Documento</button> 
        </form>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
