{% extends 'general_templates/general_layout.html' %}

{% block body %}
<div class="col-6 mx-auto">
  <!-- Navigation Pills -->
  <div class="nav nav-tabs" id="v-pills-tab" role="tablist">
    {% for letter, doc_list in docs.items() %}
      <button class="nav-link {% if loop.first %}active{% endif %}" id="v-pills-{{ letter }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ letter }}" type="button" role="tab" aria-controls="v-pills-{{ letter }}" aria-selected="{{ 'true' if loop.first else 'false' }}">{{ letter }}</button>
    {% endfor %}
  </div>
</div>

<!-- Wrapper to maintain space even if the form is hidden -->
<div class="mt-2" style="min-height: 100px;">
  {% if is_admin or is_editor %}
  <!-- Upload Form -->
  <div>
    <form action="{{ url_for('worker_layout_admin') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
            <div class="input-group">
                <input type="file" name="file" class="form-control" style="max-width: 350px;">
            </div>
        </div>
        <div class="justify-content-start ms-2 mb-3 mt-1">
          <button type="submit" class="btn btn-primary">Subir Documento</button>
        </div>
    </form>
  </div>
  {% endif %}
</div>
<!-- Tab Content -->
<div class="subir_archivo tab-content col-6 mx-auto" id="v-pills-tabContent">
  {% for letter, doc_list in docs.items() %}
    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="v-pills-{{ letter }}" role="tabpanel" aria-labelledby="v-pills-{{ letter }}-tab">
      {% if is_admin or is_editor %}
      <!-- Tabla de Documentos -->
      <form id="delete-form-{{ letter }}" method="POST" action="{{ url_for('delete_selected') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" id="selected-files-{{ letter }}" name="selected_files">
        {% endif %}
        <table class="table table-striped table-hover mt-3">
          <thead>
            <tr>
              <th scope="col" style="width: 50px;">#</th>
              <th scope="col">Lista de archivos</th>
              {% if is_admin or is_editor %}
              <th scope="col" style="width: 150px;">Acciones</th>
              {% endif %}
            </tr>
          </thead>
          <tbody id="file-list-{{ letter }}">
            {% for doc in doc_list %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>
                  <input type="checkbox" name="selected_files_{{ letter }}" value="{{ doc }}|{{ letter }}">
                  <a href="{{ url_for('uploaded_file', filename=os_path_join(letter, doc)) }}" target="_blank">{{ doc }}</a>
                </td>
                {% if loop.first %}
                {% if is_admin or is_editor %}
                <td rowspan="{{ doc_list|length }}" class="actions-column">
                  <div class="d-flex flex-column">
                    <button type="button" class="btn btn-secondary mb-2 select-all">Seleccionar todo</button>
                    <button type="button" class="btn btn-secondary mb-2 deselect-all">Deseleccionar todo</button>
                    <button type="button" class="btn btn-danger delete-selected">Borrar seleccionado</button>
                  </div>
                </td>
                {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  {% endfor %}
</div>

<script>
  document.querySelectorAll('.select-all').forEach(function(button) {
    button.addEventListener('click', function() {
      var form = button.closest('form');
      form.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.checked = true;
      });
    });
  });

  document.querySelectorAll('.deselect-all').forEach(function(button) {
    button.addEventListener('click', function() {
      var form = button.closest('form');
      form.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.checked = false;
      });
    });
  });

  document.querySelectorAll('.delete-selected').forEach(function(button) {
    button.addEventListener('click', function() {
      if (confirm('¿Estás seguro de que deseas eliminar los archivos seleccionados?')) {
        var form = button.closest('form');
        var selectedFiles = Array.from(form.querySelectorAll('input[name^="selected_files_"]:checked')).map(function(checkbox) {
          return checkbox.value;
        });
        if (selectedFiles.length > 0) {
          form.querySelector('input[name="selected_files"]').value = JSON.stringify(selectedFiles);
          form.submit();
        } else {
          alert('No hay archivos seleccionados.');
        }
      }
    });
  });

  document.getElementById('upload-form').addEventListener('submit', function(event) {
    event.preventDefault();
    var formData = new FormData(this);
    fetch('{{ url_for("new_file") }}', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        var letter = data.filename[0].toUpperCase();
        var fileList = document.getElementById('file-list-' + letter);
        var newListElement = document.createElement('tr');
        newListElement.innerHTML = '<td>' + (fileList.getElementsByTagName('tr').length + 1) + '</td>' +
                                   '<td><input type="checkbox" name="selected_files_' + letter + '" value="' + data.filename + '|' + letter + '"> ' +
                                   '<a href="' + data.file_url + '" target="_blank">' + data.filename + '</a></td>';
        fileList.appendChild(newListElement);
        document.getElementById('file').value = ''; // Reset file input
      } else {
        alert('Error al subir el archivo: ' + data.error);
      }
    });
  });
</script>

{% endblock %}
