{% extends './layout.html' %}

{% block body %}
        <!--Login section-->
        <form class="container_" method="POST" action="{{ url_for('login') }}" onsubmit="return validarFormulario()">
          <div class="img2">
            <img src="https://cdn-icons-png.flaticon.com/512/12123/12123009.png" class="img2" alt="...">
          </div> 
          <!--Username_container-->
          <div class="container_email">
            <label for="username" class="Info_container">username</label>
            <input type="username" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
          </div>
          <!--password_hash_container-->
          <div class="container_password">
            <label for="password_hash" class="form-label">Contraseña</label>
            <input type="password_hash" class="form-control" id="password_hash" name="password_hash" required>
            <div id="emailHelp" class="form-text">Nunca compartiremos tu informacion con nadie</div>
          </div>
          <!--button_register_container-->
          <a class=register_container href="{{ url_for('register') }}">Register</a>
          </button>
          <!--button_forgot_password_container-->
          <a class=forgot_password href="{{ url_for('recover_password') }}">forgot_password</a>
          </button>
          <!--button_confirmation_container-->
          <div class="container_confirmation">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Confirmacion</label>
          </div>
          <!--button_continue_container-->
          <div class="container_continue">
          <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
        </form>

        <!-- Mensajes Flash -->
<div class="container2">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
        <!--Search button-->
        <script>
          function validarFormulario() {
            var checkBox = document.getElementById('exampleCheck1');
            if (!checkBox.checked) {
              alert('Debes marcar la casilla de confirmación para continuar.');
              return false;
            }
            return true;
          }
          </script>
        {% endblock %}

