{% extends 'auth/login.html' %}

{% block body %}
        <!--Login section-->
        <form class="container_" method="POST" action="{{ url_for('recover_password') }}" onsubmit="return validarFormulario()">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="img2">
            <img src="https://cdn-icons-png.flaticon.com/512/12123/12123009.png" class="img2" alt="...">
          </div> 
          <div class="container_email">
            <!--Email_container-->
            <label for="email" class="Info_container">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
          </div>
          <!--button_continue_container-->
          <div class="container_continue">
          <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
        </form>

        <!-- Mensajes Flash -->
<div class="container2">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
        <!--Search button-->
        <script>
          function validarFormulario() {
            var checkBox = document.getElementById('exampleCheck1');
            if (!checkBox.checked) {
              alert('Debes marcar la casilla de confirmación para continuar.');
              return false;
            }
            return true;
          }
          </script>
        {% endblock %}