{% extends 'auth/login.html' %}

{% block body %}
<!-- Mensajes Flash -->
<div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<!-- Formulario de Registro -->
<form class="container_" method="POST" action="{{ url_for('reset_password', token=token) }}" onsubmit="return validarFormulario()">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="img2">
    <img src="https://cdn-icons-png.flaticon.com/512/12123/12123009.png" class="img2" alt="...">
  </div> 
  <!-- Contenedor de Contraseña -->
  <div class="container_password">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <!-- Contenedor de Confirmación de Contraseña -->
  <div class="container_password">
    <label for="password2" class="form-label">Confirmar Contraseña</label>
    <input type="password" class="form-control" id="password2" name="password2" required>
  </div>
  <!-- Contenedor de Confirmación -->
  <div class="container_confirmation">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">Confirmación</label>
  </div>
  <!-- Botón de Continuar -->
  <div class="container_continue">
    <button type="submit" class="btn btn-primary" id="continue">Continuar</button>
  </div>
</form>

<!-- Validación del Formulario -->
<script>
  function validarFormulario() {
    var checkBox = document.getElementById('exampleCheck1');
    var password = document.getElementById('password').value;
    var password2 = document.getElementById('password2').value;
    
    if (!checkBox.checked) {
      alert('Debes marcar la casilla de confirmación para continuar.');
      return false;
    }

    if (password !== password2) {
      alert('Las contraseñas no coinciden.');
      return false;
    }

    return true;
  }
</script>
{% endblock %}
