{% extends 'user/layout.html' %}

{% block body %}

<!--Docs-->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Administration</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Coworking</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Mental health</button>
  </li>
</ul>

<!--Buttons for docs-->
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <!--Administration information-->
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% for file in files %}
          {% if file['category'] == 'Administration' %}
            <a class="nav-link" href="{{ url_for('uploaded_file', filename=file['file_path']) }}" target="_blank">{{ file['filename'] }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <!--Coworking information-->
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% for file in files %}
          {% if file['category'] == 'Coworking' %}
            <a class="nav-link" href="{{ url_for('uploaded_file', filename=file['file_path']) }}" target="_blank">{{ file['filename'] }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
    <!--Mental health information-->
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% for file in files %}
          {% if file['category'] == 'Mental health' %}
            <a class="nav-link" href="{{ url_for('uploaded_file', filename=file['file_path']) }}" target="_blank">{{ file['filename'] }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
